<div class='main_content'>
  <h2><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>Personal Boards</h2>
  <ul class='boards_list sortable' id='boards_list'>
    <li class='new_board'><a href='#'>Create new board...</a></li>
    <li class='form'>
      <form method='post' action='#' id='new_board_form'>
        <h3>Create Board</h3><a href="#" class='close'></a>
        <label for='name'>Title</label>
        <input type='text' name='name' id='new_board_name' placeholder='E.g Todo List...'/>
        <p class='error_msg'>Invalid Name</p>
        <input type='submit' value='Create' />
      </form>
    </li>
  </ul>
</div>

