<div class='list_title'>
  <h3 contenteditable='true' tabindex='-1' class='contenteditable'>{{name}}</h3>
  <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
</div>
<div class='cards'>
  <ul class='card_list card_sortable'>
  </ul>
</div>
<div class='add_card'>
  Add a card...
</div>
